.env
.my.cnf
.notes
.~lock.diagram.odg#

.ssh/*
!.ssh/.gitkeep

backups-mysql/*
!backups-mysql/.gitkeep

backups-wp/*
!backups-wp/.gitkeep

mysql/*
!mysql/.gitkeep

_site/*
!_site/.gitkeep

docs/tutorials/*
playbooks/.inventory.ini

*.sql
*.gz

